:root {
  --white: #ffffff;
  --page-background: #f2f3f5;
  --blue: #0080FC;
  --darkblue: #1D5EF5;
  --nav-item: #4F4F4F;
  --nav-item-active: #333434;
  --light-grey: #A5B9D5;
  --border: #d7d8da;
  --input: #5f6368;
  --text: #434343;
}